@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syne+Mono&display=swap');
:root {
    --bg-sidebar: #5674dd;
    --text-color: #aeb0fb;
    --text-hover: #ffffff;
    --accent-color: #45bff3;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
   font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
input{
    background: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid rgb(19, 20, 20);
}
input:focus{
    border: 2px solid rgb(10, 150, 110);
    color: rgb(7, 7, 7);
    transition: all .6s ease-in-out;
}
button:disa{
    cursor: crosshair;
}
body {
    display: flex;
    flex-direction: column;
    background-color:#e2ebef;
    min-height: 100vh;
}
.success{
    color: rgb(10, 150, 110);
}
.error{
    font-size: 30px;
    color: #f40606;
}
.warning{
   color: #f57904;
}
/* Sidebar Estilização */
.sidebar {
    width: 280px;
    background-color: var(--bg-sidebar);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: var(--transition);
    z-index: 99;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar-header h2 {
    font-size: 20px;
    color: white;
}

/* Links do Menu */
.sidebar {
    list-style: none;
    padding: 20px 0;
    flex-grow: 1;
}

.sidebar li a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 28px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    transition: var(--transition);
    border-left: 5px solid transparent;
}

.sidebarli a:hover,
.sidebar li a.active {
    color: var(--text-hover);
    background-color: rgba(255, 255, 255, 0.03);
    border-left-color: var(--accent-color);
}

.sidebar li a i {
    font-size: 16px;
    width: 10px;
    text-align: center;
}

/* Conteúdo Principal */
.container {
    margin-left: 280px;
    padding: 70px;
    flex-grow: 1;
    transition: var(--transition);
}

.container >div{
    display: none;
    font-size: 18px;
}
.container > div.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
    width: 600px;
    height: 400px;
    background:#d5e0e6;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
    animation: lazin .5s ease-in;
       font-size: 18px;
}
  
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
 button{
    margin-top: 10px;
    padding: 5px;
}
button:hover{
    cursor: pointer;
}
button:disabled:hover{
    cursor: not-allowed;
}
.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.footer span:nth-child(2){
    font-size: 19px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.bld{
    font-weight: 800;
    font-style: italic;
    color: rgb(5, 43, 114);
}
button{
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--accent-color);
    border:0;
}
.search{
    display: none   ;
}
.discob{
   display: flex;
   margin-top: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
option  i{
    background-color: #45bff3;
}
@keyframes lazin {
    from{
        opacity: 0.5;
        transform: translate(-80px);
    }
    to{  
        opacity: .6;
    }
}
@media (max-width: 768px) {
    .sidebar {
        left: -280px;
    }

    .sidebar.active {
        left: 0;
    }

    .container {
        margin-left: 0;
        padding: 80px 20px 20px 20px;
    }
}